<div id="new-playlist-card" >
    <div class="card">
        <div class="card-body">
            <form action="/makePlaylist" method="GET">
                <input type="text" class="form-control mb-3"
                    id="playlist-name"
                    name="username" placeholder="playlist Name">
            </form>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Song</span>
                    <span>Artist</span>
                    <span>Release Date</span>
                </li>
            </ul>
        </div>
    </div>
</div>