<div id="new-playlist-card" >
    <div class="card">
        <div class="card-body">
            <form action="/makeNewPlaylist" method="POST">
                <input autocomplete="off" type="text" class="form-control mb-3"
                    id="playlist-name"
                    name="newName" placeholder="playlist Name" onblur="setDraftPlaylistName()">
            </form>
            <h3 id="playlist-title" class="d-none"></h3> <!-- Title element hidden initially -->
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <span>Song</span>
                    <span>Artist</span>
                    <span>Release Date</span>
                </li>
            </ul>
        </div>
    </div>
</div>