<nav class="navbar bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/login">Fix Your Mix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false"
            aria-label="Toggle navigation">
            <img src="../../resources/images/IMG_5311.JPG" width=70>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {{#if login}}
                    <a class="nav-link active" href='/playlistEditor'>Playlist
                        Editor</a>
                    {{else}}
                    <a class="nav-link disable" href='/login'>Playlist
                        Editor</a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if login}}
                    <a class="nav-link active"
                        href='/concerts'>Concerts Near Me</a>
                    {{else}}
                    <a class="nav-link disable"
                        href='/concerts'>Concerts Near Me</a>
                    {{/if}}
                </li>
                <li class="nav-item">
                    {{#if login}}
                    <a class="nav-link active" href='/logout'>Logout</a>
                    {{else}}
                    <a class="nav-link disable" href='/logout'>Logout</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </div>
</nav>