#login-card-title{
    font-family: "Times New Roman", Times, serif !important;
}

#select-button{
    margin: 10px;
    border-radius: 150px;
}

.chosen-playlist-dropdown{
    margin: 5px;
}

#chosen-playlist-card{
    margin: 5px;
}


