<!-- DROP DOWN -->

<div class="container">
    <h2>Delete Playlist</h2>
    <div id="delete-dropdown">
        <!-- Replace this placeholder with your dropdown component -->
        {{>dropdown id=id}}
    </div>
    <div id="submit-delete-btn">
        <form method="post" action="/deletePlaylist">
            <input type="hidden" name="id" value="{{selectedPlaylistId}}">
        <button id="delete-btn">{{>flame}}</button>
        </form>
    </div>
</div>