<!-- DROP DOWN -->
<br>
<div id="delete-dropdown" >
    {{>dropdown}}
</div>
<br>

<div id="delete-cancel-btns">
  <button id="cancel-btn"><i class="bi bi-box-arrow-in-left"></i></button>
  <button id="delete-btn"><img src="../../resources/images/flame.svg" style="width: 100px; height: 50px;"></button>
</div>