<!-- DROP DOWN -->
<br>
<div id="delete-dropdown" >
    {{>dropdown}}
</div>
<br>

<div id="delete-cancel-btns">
  <button id="cancel-btn"><i class="bi bi-box-arrow-in-left"></i></button>
  <button id="delete-btn">{{>flameTEST}}</button>
</div>