<!-- DROP DOWN -->
<br>
<div id="delete-playlist-dropdown" class="dropdown center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Playlist
  </button>
  <ul class="dropdown-menu">
    {{#each playlists}}
    <li class="playlist-selector" onclick="selectedPlaylist({{this.id}})">{{this.name}}</li>
    {{/each}}
  </ul>
</div>
<br>
<div id="delete-cancel-btns">
    <button id="delete-btn">Delete</button>
    <button id="cancel-btn">cancel</button>
    
</div>
<div>
    
</div>