<style>
  body {
    height: 100%;
    overflow-y: hidden;
 }
</style>
<img id="background-video" src="../../resources/images/home.gif" />

<div id="feature-card-container" class="container mt-4 d-flex justify-content-center align-items-center " style="min-height: 100vh;">
  <div class="row g-3">
    <div class="col-md-6">
      <a href="/makePlaylist" class="text-decoration-none">
        <div id="card-make" class="card h-100 text-center">
          {{!-- <img src="image1.jpg" class="card-img-top" alt="Card 1"> --}}
          <div class="card-body">
            <h5 class="card-title">Make Playlist</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="/playlistEditor" class="text-decoration-none">
        <div id="card-edit" class="card h-100 text-center">
          {{!-- <img src="image2.jpg" class="card-img-top" alt="Card 2"> --}}
          <div class="card-body">
            <h5 class="card-title">Edit Playlist</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="/delete" class="text-decoration-none">
        <div id="card-delete" class="card h-100 text-center">
          {{!-- <img src="image3.jpg" class="card-img-top" alt="Card 3"> --}}
          <div class="card-body">
            <h5 class="card-title">Delete Playlist</h5>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-6">
      <a href="/player" class="text-decoration-none">
        <div id="card-player" class="card h-100 text-center">
          {{!-- <img src="image4.jpg" class="card-img-top" alt="Card 4"> --}}
          <div class="card-body">
            <h5 class="card-title">Song Player</h5>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>