<br>
<form action="/login" method="POST" class="text-center">
    <div class="border-overlay"></div>
    <div class="content">
    <div class="col d-flex justify-content-center">
        <div id="login-card" class="col-sm-6">
            <div class="card-body">
                <h1 id="login-card-title" class="card-title">Login With Spotify
                    Credentials</h1>
                <br>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username-field"
                    name="username" placeholder="Username">
                <label for="password" class="form-label">Password</label>
                <input type="text" class="form-control" id="password-field"
                    name="password" placeholder="Password">
                <br>
                <button style='background-color: #5f9ea0' type='submit' class="btn">Login</button>
            </div>
            <br>
            <div class="card-footer text-muted">Dont have a spotify account?
                <a href="https://www.spotify.com/us/signup?forward_url=https%3A%2F%2Fopen.spotify.com%2F">Sign Up</a>
            </div>
        </div>
    </div>
    </div> 
</form>
{{> message}}