{{> head bodyClass="login-page" }}
<div id="login-div">
    <div style="margin-bottom: 10px;">
        <form action="/login2" method="GET">
            <button id="login-btn">
                <svg width="200" height="200" viewBox="0 0 200 180"
                    xmlns="http://www.w3.org/2000/svg">
                    <!-- Define the circular path, larger than the icon, for text to wrap around the outside -->
                    <defs>
                        <!-- Circle path with larger radius to go around the outside of the icon -->
                        {{!-- <path id="circlePath" d="M 100, 100 m -70, 0 a 60,60 0 1,1 160,0 a 60,60 0 1,1 -160,0" />
                    <path id="circlePathReversed" d="M 120, 120 m -100, 0 a 60,60 0 1,0 180,0 a 60,60 0 1,0 -180,0" /> --}}


                <path id="circlePath" d="M 100, 100 m -80, 0 a 80,80 0 1,1 160,0 a 80,80 0 1,1 -160,0" />
            
            <!-- Path for "TO FIX YOUR MIX" with the same radius and path length, but reversed direction -->
            <path id="circlePathReversed" d="M 100, 100 m -80, 0 a 80,80 0 1,0 160,0 a 80,80 0 1,0 -160,0" />


                    </defs>
                    <defs>
                        <lineargradient id="gradient1" x1="0%" y1="0%" x2="100%"
                            y2="100%">
                            <stop offset="0%"
                                style="stop-color:rgb(30 215 96);stop-opacity:1" />
                            <stop offset="100%"
                                style="stop-color:darkgreen;stop-opacity:1" />
                        </lineargradient>
                        <lineargradient id="gradient2" x1="0%" y1="0%" x2="100%"
                            y2="100%">
                            <stop offset="0%"
                                style="stop-color:rgb(25, 237, 230);stop-opacity:1" />
                            <stop offset="100%"
                                style="stop-color:rgb(19, 95, 182);stop-opacity:1" />
                        </lineargradient>
                    </defs>
                    <!-- Spotify Icon, centered in the SVG -->
                    <svg x="50" y="50" width="120" height="120" fill="url(#gradient1)"
                        class="bi bi-spotify" viewBox="0 0 19 20">
                        <path
                            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.669 11.538a.5.5 0 0 1-.686.165c-1.879-1.147-4.243-1.407-7.028-.77a.499.499 0 0 1-.222-.973c3.048-.696 5.662-.397 7.77.892a.5.5 0 0 1 .166.686m.979-2.178a.624.624 0 0 1-.858.205c-2.15-1.321-5.428-1.704-7.972-.932a.625.625 0 0 1-.362-1.194c2.905-.881 6.517-.454 8.986 1.063a.624.624 0 0 1 .206.858m.084-2.268C10.154 5.56 5.9 5.419 3.438 6.166a.748.748 0 1 1-.434-1.432c2.825-.857 7.523-.692 10.492 1.07a.747.747 0 1 1-.764 1.288" />
                    </svg>

                    <!-- Text that follows the circular path -->
                    <text id="login-txt" fill = "url(#gradient1)"
                        text-anchor="middle">
                        <textpath href="#circlePath" startOffset="25%">
                            LOGIN WITH SPOTIFY
                        </textpath>
                    </text>
                    <text id="login-txt" fill = "url(#gradient2)" text-anchor="middle">
                        <textpath href="#circlePathReversed" startOffset="25%">
                            TO FIX YOUR MIX
                        </textpath>
                    </text>
                </svg>
            </button>
        </form>
    </div>
    <text id="reg-txt">
        Don't have a Spotify account? Register <a href="https://www.spotify.com/us/signup?forward_url=https%3A%2F%2Fopen.spotify.com%2F">here</a>
    </text>
</div>