<script src="../../index.js"></script>
<br>
{{!--
<script src="index.js"></script> --}}
<div class="row justify-content-between">
    <div class="col-4">
        {{>dropdown currentPage=currentPage newPlaylistName=newPlaylistName}}
    </div>
    <div class="col-4">
        <form action="/makePlaylist" method="POST" >
            <input type="hidden" name="currentPage"
                    value="{{currentPage}}">
            <input type="hidden" name="export" value="true">
            <button id="export_btn" type="submit">Export to Spotify</button>
        </form>
    </div>
</div>

</div>
<br>
<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        {{>chosenPlaylist currentPage=currentPage newPlaylistName=newPlaylistName}}
    </div>
    <div class="col-sm-7 mb-3 mb-4">
        {{>draftPlaylist currentPage=currentPage}}
    </div>
</div>
{{!-- <script>
    document.getElementById("export_btn").addEventListener('click', function (event) {
        event.preventDefault(); // Prevent form submission
        createPlaylist(); // Call your function
    });
</script> --}}