<br>
<div>
    {{>dropdown}}
</div>
<br>
<div class="row">
    <div class="col-sm-4 mb-3 mb-sm-0">
        {{>chosenPlaylist}}
    </div>
    <div class="col-sm-7 mb-3 mb-4">
        {{>draftPlaylist}}
    </div>
</div>
