<!DOCTYPE html>
<html>

<head>
    <title>Spotify Web Playback SDK Quick Start</title>
</head>

<body>
    <h1>Spotify Web Playback SDK Quick Start</h1>


    <div class="container container-fluid" style="justify-content: center;">
        <div class="btn-group btn-group-lg" role="group" style="align: center;">
            <button id="skipback">Prev Track</button>
            <button id="togglePlay">Toggle Play</button>
            <button id="skipForward">Next Track</button>
        </div>
    </div>

    <p>{{ accessToken }}</p>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        const token = "{{ token }}";
        console.log("Accesss Token: ", token);
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = "{{ token }}";
            console.log(token);
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function () {
                player.togglePlay();
            };

            document.getElementById('skipback').onclick = function () {
                player.previousTrack();
            };

            document.getElementById('skipForward').onclick = function () {
                player.nextTrack();
            };

            player.connect();
        }
    </script>
</body>

</html>